@media screen and(max-width: 1299px){
  .nav {
    a{
      padding: 0 3px;
    }
  }



  .header-bottom{
    p{
      font-size:rem(16);
    }
  }

  h1{
    font-size:rem(100);
  }

  h2{
    font-size:rem(85);
  }

  .become-part{
    p{
      font-size:rem(27);
    }

  }

  .commandes {
    .images{
      margin:0;
    }
    .name {
      strong {
        font-size:rem(18);
      }
    }
  }
  .services-catalog {
    .item {
      width: 33.3%;
    }
  }


  .titles-map {
    width: 330px;
  }
  footer {
    .footer-list{
        li {
          margin: 0 7px 0 0;
        }
    }


    .footer-contacts {
      .phone-ico {
        margin: 0;
      }

    }
  }

  .wr-nav{
    display: none;
  }
  .up-button{
    display: none;
  }
  .nav{
    a{
      border: none;
    }
  }
  .big-img{
    overflow: hidden;
  }
  .first-el{
    &.sections {
      header {
        margin: 0;
      }

    }
  }

  .big-img {
    padding:50px 0;
    .baranch-img {
      top: auto;
      left: 44%;
      bottom:0;
    }


  }

}
@media screen and(max-width: 1029px){
  .wrapper-fluid{
    overflow: hidden;
  }
  .big-img {
    padding:50px 0;
    min-height:980px;
    .baranch-img {
      top: auto;
      left: auto;
      right:0;
      bottom:0;
    }
  }

  .sections{
    cite{
      border: none;
      padding: 5px 0 26px 0;
      &:before,
      &:after{
        display: none;
      }
    }
    h1 {
      font-size: rem(95);
      margin: 10px 0 0;
      line-height: 40px;
    }
  }
  h2{
    font-size:rem(36);
    line-height:1.5;
  }

.video{
  img{
    width:100%;
  }
}

.footer-list{
  margin:0 0;
}

  .become-part{
    p {
      font-size:rem(22);
    }
  }
.managing-partner{
  margin:30px auto 0;
  max-width: 446px;
}
.titles-managing{
  max-width: 446px;
  margin:0 auto;
  text-align: center;
}

  .list-mixitup{
    a{
      font-size:rem(15);
    }
  }

.map{
  position: absolute;
  top:100px;
  right:-40%;
}
.wr-map{
  min-height:700px;
}
.titles-map{
  position: relative;
  background-color: transparent;
  top:0;
  left:0;
  border: none;
  padding: 17px 40px 7px 0;
  &:before{
    display: none;
  }
}

  .contacts-section{
    max-width:500px;
    margin:0 auto;
    position: relative;
    top:0;
    left:0;
    p{
      font-size:rem(18);
    }
    strong{
      color: $color-text;
    }
  }
  .form-style{
    input[type=submit] {
      margin: 8px auto 0;
      display: block;
    }
  }

.pad{
  display: none;
}

  .sections {
    margin: 0 0 30px;
  }









}




















@media screen and(max-width: 769px){

.phone{
  float: right;
}
.nav{
  padding: 5px 0 0;

  li{
    width:25%;
  }
  a{
    padding:3px 0 12px;
    font-size:rem(21);
  }
  .mobail-nav{
    width:20%;
   .nav-mobail{
     margin:0 0 -6px;
   }
  }
}

  .sections{
    h1 {
      font-size: rem(70);
      line-height: 30px;
    }
  }
  h2{
    padding: 0 0 0 10px;
  }

  .big-img {
    .baranch-img {
      left: auto;
      right:0;
    }
  }

  .pozition{
    z-index:9;
  }
  .file-big-pdf {;
    margin: 0 10px 0 0;
    padding: 8px 10px 0 ;
    span {
      font-size: rem(36);
      margin: -3px 5px 0 0;

    }
  }

  strong {
    font-size: rem(24);
  }

  footer {
    .footer-list {
      a {
        font-size:rem(12);
      }
    }
    .adress-min {
      font-size:rem(11);
    }

  }

  .become-part{
    line-height: 18px;
    padding:10px 10px 0 0;
    p{
      font-size:rem(18);
    }
    a{
      font-size:rem(18);
    }

  }
  .list-mixitup {
    margin: 10px 0 0;
    a {
      padding: 7px 5px;
    }

  }

  .services-catalog {
    .item {
      width: 49%;
      padding: 10px;
      min-height:150px;
    }

  }
  .services {
    margin: 40px 0;
  }


  .titles-map {
    padding: 17px 40px 7px 30px;
  }










}
@media screen and(max-width: 543px){


  .nav{
    a{
      padding:3px 0 12px;
      font-size:rem(13);
    }
  }
  .sections {
    .phone {
      float: none;
      text-align: center;
    }
  h1{
    font-size:rem(42);
    span{
      line-height:50px;
      font-size:rem(42);
    }
  }

  }

  strong{
    padding:0;
  }

  .big-img {
    padding: 20px 0;
    min-height: 590px;
    .baranch-img{
        width:300px;

    }
  }
  .sections p{
    font-size:rem(18);
  }

  h2 {
    padding:0;
    float: none!important;
    text-align: center;
  }
  .file-big-pdf{
    margin:0 auto;
    display: block;
    width:250px;
    float: none;
  }


  .list-number{
    strong{
      font-size:rem(16);
    }
    p {
      padding: 0 0 0 43px;
      font-size:rem(16);
    }
  }

  .titles {
    padding: 0;
    a{
      margin: 0 5px 10px;
    }
  }

  strong {
    font-size: rem(18);
  }

  footer {
    .footer-contacts {
      margin: 10px 0;
      text-align: center;
      br{
        display: none;
      }
    }
    .footer-list{
      text-align: center;
      li{
        margin:0;
      }
      a{
        font-size:rem(11);
      }
    }

  }
  .footers{
    height:auto;
    padding:0;
  }
  .sections{
    p {
      font-size:rem(12);
    }
  }

  .become-part{
    float: none;
    text-align: center;
  }

  .managing-partner{
    width:100%;
    img{
      width: 284px;
    }
  }

  .commandes {
    .item {
      width: 100%;
    }

  }
  .list-mixitup {
    float: none;
    li {
      width: 48%;
      margin:0;
    }
    a{
      width:100%;
      font-size:rem(12);
    }
  }
  .services-catalog {
    .item {
      width: 100%;
      min-height: 100px;
    }

  }

  .wr-map {
    padding: 0;
  }

  .list-map {
    li {
      margin: 0 0 15px;
    }
  }

  .contacts-section {
    strong {
      font-size:rem(32);
      text-align: center;
      display: block;
    }
    p{
      text-align: center;
    }
  }


  .form-bg {
    padding: 5px 10px 0;
    input,
    input[type=email]{
      width:100%;
      margin:0 0 10px;
    }
  }

  .map {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    //left:0;
    //right:0;
    img{
      width:300px;
    }
  }

.wr-logo{
  text-align: center;
  a{
    float: none;
  }

}



}
@media screen and(max-width: 440px){}