/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb-ico-hover-name: 'fb-ico-hover';
$fb-ico-hover-x: 143px;
$fb-ico-hover-y: 41px;
$fb-ico-hover-offset-x: -143px;
$fb-ico-hover-offset-y: -41px;
$fb-ico-hover-width: 33px;
$fb-ico-hover-height: 33px;
$fb-ico-hover-total-width: 286px;
$fb-ico-hover-total-height: 178px;
$fb-ico-hover-image: '../images/sprite.png';
$fb-ico-hover: (143px, 41px, -143px, -41px, 33px, 33px, 286px, 178px, '../images/sprite.png', 'fb-ico-hover', );
$fb-ico-name: 'fb-ico';
$fb-ico-x: 231px;
$fb-ico-y: 84px;
$fb-ico-offset-x: -231px;
$fb-ico-offset-y: -84px;
$fb-ico-width: 25px;
$fb-ico-height: 25px;
$fb-ico-total-width: 286px;
$fb-ico-total-height: 178px;
$fb-ico-image: '../images/sprite.png';
$fb-ico: (231px, 84px, -231px, -84px, 25px, 25px, 286px, 178px, '../images/sprite.png', 'fb-ico', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 286px;
$logo-height: 41px;
$logo-total-width: 286px;
$logo-total-height: 178px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 286px, 41px, 286px, 178px, '../images/sprite.png', 'logo', );
$message-ico-hover-name: 'message-ico-hover';
$message-ico-hover-x: 195px;
$message-ico-hover-y: 84px;
$message-ico-hover-offset-x: -195px;
$message-ico-hover-offset-y: -84px;
$message-ico-hover-width: 36px;
$message-ico-hover-height: 28px;
$message-ico-hover-total-width: 286px;
$message-ico-hover-total-height: 178px;
$message-ico-hover-image: '../images/sprite.png';
$message-ico-hover: (195px, 84px, -195px, -84px, 36px, 28px, 286px, 178px, '../images/sprite.png', 'message-ico-hover', );
$message-ico-name: 'message-ico';
$message-ico-x: 248px;
$message-ico-y: 41px;
$message-ico-offset-x: -248px;
$message-ico-offset-y: -41px;
$message-ico-width: 36px;
$message-ico-height: 28px;
$message-ico-total-width: 286px;
$message-ico-total-height: 178px;
$message-ico-image: '../images/sprite.png';
$message-ico: (248px, 41px, -248px, -41px, 36px, 28px, 286px, 178px, '../images/sprite.png', 'message-ico', );
$nav-mobail-hover-name: 'nav-mobail-hover';
$nav-mobail-hover-x: 212px;
$nav-mobail-hover-y: 41px;
$nav-mobail-hover-offset-x: -212px;
$nav-mobail-hover-offset-y: -41px;
$nav-mobail-hover-width: 36px;
$nav-mobail-hover-height: 28px;
$nav-mobail-hover-total-width: 286px;
$nav-mobail-hover-total-height: 178px;
$nav-mobail-hover-image: '../images/sprite.png';
$nav-mobail-hover: (212px, 41px, -212px, -41px, 36px, 28px, 286px, 178px, '../images/sprite.png', 'nav-mobail-hover', );
$nav-mobail-name: 'nav-mobail';
$nav-mobail-x: 176px;
$nav-mobail-y: 41px;
$nav-mobail-offset-x: -176px;
$nav-mobail-offset-y: -41px;
$nav-mobail-width: 36px;
$nav-mobail-height: 28px;
$nav-mobail-total-width: 286px;
$nav-mobail-total-height: 178px;
$nav-mobail-image: '../images/sprite.png';
$nav-mobail: (176px, 41px, -176px, -41px, 36px, 28px, 286px, 178px, '../images/sprite.png', 'nav-mobail', );
$phone-ico-name: 'phone-ico';
$phone-ico-x: 119px;
$phone-ico-y: 84px;
$phone-ico-offset-x: -119px;
$phone-ico-offset-y: -84px;
$phone-ico-width: 38px;
$phone-ico-height: 38px;
$phone-ico-total-width: 286px;
$phone-ico-total-height: 178px;
$phone-ico-image: '../images/sprite.png';
$phone-ico: (119px, 84px, -119px, -84px, 38px, 38px, 286px, 178px, '../images/sprite.png', 'phone-ico', );
$servese-ico-1-name: 'servese-ico-1';
$servese-ico-1-x: 0px;
$servese-ico-1-y: 41px;
$servese-ico-1-offset-x: 0px;
$servese-ico-1-offset-y: -41px;
$servese-ico-1-width: 49px;
$servese-ico-1-height: 43px;
$servese-ico-1-total-width: 286px;
$servese-ico-1-total-height: 178px;
$servese-ico-1-image: '../images/sprite.png';
$servese-ico-1: (0px, 41px, 0px, -41px, 49px, 43px, 286px, 178px, '../images/sprite.png', 'servese-ico-1', );
$servese-ico-2-name: 'servese-ico-2';
$servese-ico-2-x: 49px;
$servese-ico-2-y: 41px;
$servese-ico-2-offset-x: -49px;
$servese-ico-2-offset-y: -41px;
$servese-ico-2-width: 47px;
$servese-ico-2-height: 41px;
$servese-ico-2-total-width: 286px;
$servese-ico-2-total-height: 178px;
$servese-ico-2-image: '../images/sprite.png';
$servese-ico-2: (49px, 41px, -49px, -41px, 47px, 41px, 286px, 178px, '../images/sprite.png', 'servese-ico-2', );
$servese-ico-3-name: 'servese-ico-3';
$servese-ico-3-x: 96px;
$servese-ico-3-y: 41px;
$servese-ico-3-offset-x: -96px;
$servese-ico-3-offset-y: -41px;
$servese-ico-3-width: 47px;
$servese-ico-3-height: 36px;
$servese-ico-3-total-width: 286px;
$servese-ico-3-total-height: 178px;
$servese-ico-3-image: '../images/sprite.png';
$servese-ico-3: (96px, 41px, -96px, -41px, 47px, 36px, 286px, 178px, '../images/sprite.png', 'servese-ico-3', );
$servese-ico-4-name: 'servese-ico-4';
$servese-ico-4-x: 80px;
$servese-ico-4-y: 84px;
$servese-ico-4-offset-x: -80px;
$servese-ico-4-offset-y: -84px;
$servese-ico-4-width: 39px;
$servese-ico-4-height: 41px;
$servese-ico-4-total-width: 286px;
$servese-ico-4-total-height: 178px;
$servese-ico-4-image: '../images/sprite.png';
$servese-ico-4: (80px, 84px, -80px, -84px, 39px, 41px, 286px, 178px, '../images/sprite.png', 'servese-ico-4', );
$servese-ico-5-name: 'servese-ico-5';
$servese-ico-5-x: 0px;
$servese-ico-5-y: 84px;
$servese-ico-5-offset-x: 0px;
$servese-ico-5-offset-y: -84px;
$servese-ico-5-width: 40px;
$servese-ico-5-height: 46px;
$servese-ico-5-total-width: 286px;
$servese-ico-5-total-height: 178px;
$servese-ico-5-image: '../images/sprite.png';
$servese-ico-5: (0px, 84px, 0px, -84px, 40px, 46px, 286px, 178px, '../images/sprite.png', 'servese-ico-5', );
$servese-ico-6-name: 'servese-ico-6';
$servese-ico-6-x: 157px;
$servese-ico-6-y: 84px;
$servese-ico-6-offset-x: -157px;
$servese-ico-6-offset-y: -84px;
$servese-ico-6-width: 38px;
$servese-ico-6-height: 37px;
$servese-ico-6-total-width: 286px;
$servese-ico-6-total-height: 178px;
$servese-ico-6-image: '../images/sprite.png';
$servese-ico-6: (157px, 84px, -157px, -84px, 38px, 37px, 286px, 178px, '../images/sprite.png', 'servese-ico-6', );
$servese-ico-7-name: 'servese-ico-7';
$servese-ico-7-x: 0px;
$servese-ico-7-y: 130px;
$servese-ico-7-offset-x: 0px;
$servese-ico-7-offset-y: -130px;
$servese-ico-7-width: 38px;
$servese-ico-7-height: 48px;
$servese-ico-7-total-width: 286px;
$servese-ico-7-total-height: 178px;
$servese-ico-7-image: '../images/sprite.png';
$servese-ico-7: (0px, 130px, 0px, -130px, 38px, 48px, 286px, 178px, '../images/sprite.png', 'servese-ico-7', );
$servese-ico-8-name: 'servese-ico-8';
$servese-ico-8-x: 40px;
$servese-ico-8-y: 84px;
$servese-ico-8-offset-x: -40px;
$servese-ico-8-offset-y: -84px;
$servese-ico-8-width: 40px;
$servese-ico-8-height: 41px;
$servese-ico-8-total-width: 286px;
$servese-ico-8-total-height: 178px;
$servese-ico-8-image: '../images/sprite.png';
$servese-ico-8: (40px, 84px, -40px, -84px, 40px, 41px, 286px, 178px, '../images/sprite.png', 'servese-ico-8', );
$tw-ico-name: 'tw-ico';
$tw-ico-x: 256px;
$tw-ico-y: 84px;
$tw-ico-offset-x: -256px;
$tw-ico-offset-y: -84px;
$tw-ico-width: 25px;
$tw-ico-height: 25px;
$tw-ico-total-width: 286px;
$tw-ico-total-height: 178px;
$tw-ico-image: '../images/sprite.png';
$tw-ico: (256px, 84px, -256px, -84px, 25px, 25px, 286px, 178px, '../images/sprite.png', 'tw-ico', );
$spritesheet-width: 286px;
$spritesheet-height: 178px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($fb-ico-hover, $fb-ico, $logo, $message-ico-hover, $message-ico, $nav-mobail-hover, $nav-mobail, $phone-ico, $servese-ico-1, $servese-ico-2, $servese-ico-3, $servese-ico-4, $servese-ico-5, $servese-ico-6, $servese-ico-7, $servese-ico-8, $tw-ico, );
$spritesheet: (286px, 178px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
